r7-core/src/test/resources/.cifuzz-corpus
site
docker/journals
gc.log*
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin
.idea

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
